.search{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0,0.2);
  }

ul{
    width: 50%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
ul li{
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
}
